
* {
	margin:0;
	padding:0;
}

html,body{
	position: relative;
	overflow: hidden;
	max-height: 100%;
	height: 100%;
	width: 100%;
}

.layer-mask {
	position: absolute;
	top: 0;
	left: 0;
	/*left: 50%;
	top: 50%;*/
	/*-webkit-transform: translate3d( -50%, -50%, 0 );
	transform: translate3d( -50%, -50%, 0 );*/
	background-image: url( imgs/mask.png );
	/*width: 3429px;
	height: 2097*/
	width: 100%;
	height: 100%;
	background-size: cover;
}
